{% extends 'base.html.twig' %}

{% block title %}入力{% endblock %}

{% block body %}
<h2>入力画面</h2>
<ul>
{% for error in errors %}
  <li>{{ error.message }}</li>
{% endfor %}
</ul>
{{ form_start(form) }}
  <table>
    <tbody>
      <tr>
        <th>
          {{ form_label(form.name) }}
        </th>
        <td>
          {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.name) %}
          <div class="invalid-feedback">{{ form_errors(form.name) }}</div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>
          {{ form_label(form.age) }}
        </th>
        <td>
          {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.age) %}
          <div class="invalid-feedback">{{ form_errors(form.age) }}</div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>
          {{ form_label(form.prefecture) }}
        </th>
        <td>
          {{ form_widget(form.prefecture, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.prefecture) %}
          <div class="invalid-feedback">{{ form_errors(form.prefecture) }}</div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>
          {{ form_label(form.address1) }}
        </th>
        <td>
          {{ form_widget(form.address1, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.address1) %}
          <div class="invalid-feedback">{{ form_errors(form.address1) }}</div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>
          {{ form_label(form.address2) }}
        </th>
        <td>
          {{ form_widget(form.address2, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.address2) %}
          <div class="invalid-feedback">{{ form_errors(form.address2) }}</div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>
          {{ form_label(form.comment) }}
        </th>
        <td>
          {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.comment) %}
          <div class="invalid-feedback">{{ form_errors(form.comment) }}</div>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <p><input type="submit" value="確認画面へ" /></p>
{{ form_end(form) }}
{% endblock %}
